<h1>GESTION DE USUARIO</h1>

<form method="post" action="{% url 'index' %}">
    {% csrf_token %}
<table>
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Correo</th>
        <th>Telefono</th>
        <th>Perfil</th>
        <th>Acciones</th>
    </tr>
    {%if not form.instance.id%}
    <tr>
    {% include 'gestion_usuario/save.html' %}
    </tr>
    {%endif%}
    {% for usuario in usuario %}
    <tr>
        {% if usuario.id == form.instance.id %}
            {% include 'gestion_usuario/save.html' %}
        {% else %}
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.apellido }}</td>
        <td>{{ usuario.correo }}</td>
        <td>{{ usuario.telfono }}</td>
        <td>{{ usuario.perfil }}</td>
        <td>
            <button formnovalidate name="Edit" value= "{{usuario.id}}">edit</button>
            <button formnovalidate name="Delete" value= "{{usuario.id}}">delete</button>
        </td>
     </tr>
    {% endif %}     
    {% endfor %}
</table>
</form>
